/* Footer.css */
.footer {
  background-color: #333; /* Couleur de fond du footer */
  color: white; /* Couleur du texte */
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
