*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
    list-style: none;
    line-height: inherit;
    text-decoration: none;
    color: var(--couleur-blanc);
    border: none;
}

html{
    background-color: var(--couleur-background);
}

body{
    height: 100%;
    max-width: 100vw;
}
:root{
    --couleur-background: #4BA3C3;
    --couleur-blanc: #FDFFFC;
    --police-titre: "Staatliches", sans-serif;
    --police-texte: "Poppins", cursive;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--police-titre);
}
p, a, button, input, label{
    font-family: var(--police-texte);
}